@charset 'utf-8';

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    margin-top: 200px;
}
.header{
    text-align: center;
    color: #333;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid lightgray;
    font-size: 11px;
    border-radius: 4px;
    font-weight:bold;
    cursor: pointer;
    width:220px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}
form{
    font-size: 0.8rem;
    color:#333;
    width: 530px;
    border: 1px solid;
    margin: 0 auto;
}
.row{
    width: 100%;
    margin-bottom: 14px;
}
form>.row{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:3px;
    height: 30px;
}
form>div>label{
    padding-left: 16px;
    width:190px;
    display:block;
    font-weight: bold;
}
.left-shift{
    margin-left: -48px;
}
.input-row{
    width: 60px;
}
.row>select{
    width: 60px;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
}
form>div>input{
    width: 100%;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 2px;
}
.btn-input>img{
    width: 5%;
    margin-left: -215px;
    margin-top: 10px;
    position: absolute;
}
.btn{
    justify-content: center;
    display: flex;
    gap: 20px;
    padding-bottom: 42px;
    position: relative;
}
.btn-input>input{
    width: 245px;
    height: 48px;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}
.cspan{
    margin-top: -14px;
    margin-left: 145px;
    padding-bottom: 12px;
}
span{
    font-size: 0.7rem;
}
.cspan>span:first-child{
    color: red;
    display:none; /* 임시 JS에서 활용예정 */
}