@charset 'utf-8';

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    margin: 0 auto;
}
form{
    width: 450px;
    border: 1px solid;
    margin: 0 auto;
    margin: 50px auto;
}
.row{
    width: 100%;
    margin-bottom: 10px;
}
form>.row{
    display: flex;
    justify-content: left;
    align-items: center;
    gap:12px;
}
#row2{
    margin-top: -12px;
}
span{
    font-size: 12px;
}
#cspan{
    color: red;
}